html{
    padding: 0px;
    margin: 0px;
    
}
body{
    padding: 0px;
    margin: 0px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    
}
.header{
    height:50px;
    background-color:#1f2937;
    display:flex;
    justify-content: space-between;
    color: white;
    align-items:center;
    font-size: 24px;
    padding:0px 300px;
}
 .header ul{
     display: flex;
     flex-direction:row;
     list-style: none;
     color: white;
 }

 .header a{
     color:white;
     text-decoration:none;
     font-size:15px;
     margin: 0px 20px;
 }
 .top-signup{
     display:flex;
     flex:1;
     background-color:#1f2937;
     height: 400px;
     padding:0px 300px;
     align-items: center;
     justify-content: space-between;
 }

 .text-content{
     width:400px;
 }
 .image-holder{
     width:400px;
     background-color: #6d747d;
 }

 .top-signup h1{
     color: #f9faf8;
     font-size: 48px;
     font-weight: bold;
     
 }

 .text-content{
     display:flex;
     flex-direction:column;
 }

.middle-content{
    display:flex;
    height: 300px;
}

.illustration-holder{
    display:flex;
}
.illustration{
    display:flex;
}

.bottom-content{
    display:flex;
    height: 250px;
}

 .bottom-signup{
    display:flex;
    height: 200px;
}
.signup-info{
    display:flex;
}
.footer{
    display:flex;
    justify-content:center;
    align-items:center;
    height:50px;
}